/*
	normalize-css 样式引入

	line-height 和 height
	display 相关属性
	float
*/

body {
	/*background: #ff0;*/
	color: #fff;
}

nav {
	height: 50px;
	background: #ccc;
}

nav ul {
	list-style: none;
	margin: 0;	
	float: right;
}

nav ul li ,nav .logo{
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;
}

nav ul li a {
	display: inline-block;
	text-decoration: none;
	line-height: inherit;
	color: #fff;
}

nav .logo {
	float: left; 
	padding-left: 20px;
}

nav .logo a {
	color: #fff;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: 700;
	text-decoration: none;
}


#banner {
	background: #777;
	height: 700px;
}

#banner h1 {
	margin: 0;
}

#banner .inner {
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 200px;
}

#banner .inner h1 {
	border-top:2px solid #ddd;
	border-bottom: 2px solid #ddd;
	padding: 10px 0;
}

#banner .inner .more {
	margin-top: 210px;
}

button {
	border: 0;
	border-radius: 5px;
	padding: 10px;
	color: #eee;
	background: #444;
}

#banner button {
	padding: 10px 30px;
}

.hr {
	margin: 20px auto;
	height: 2px;
}

.sub-heading {
	line-height: 30px;
	font-size: 18px;
}

.green-section {
	background-color: #089DB0;
	text-align: center;
}

.green-section .wrapper .hr {
	background: #098E9F;
	width: 60%;
}

.green-section .wrapper {
	padding: 200px 0;
	max-width: 1080px;
	margin: 0px auto;
}

.icon-group {
	margin-top: 60px;
}

.green-section .wrapper .icon-group .icon {
	width: 80px;
	height: 80px;
	display: inline-block;
	border: 1px solid #0D6F7C;
	background: #089DB0	;
	transform: rotate(45deg); 
	margin: 20px;
}
